:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  display: flex;
  place-items: start;
  justify-content: center;
  min-height: 100vh;
}
.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.img-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}
button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 0.2em 0.8em;
  font-size: 1em;
  font-family: inherit;
  background-color: #aeabfa;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  outline: 2px solid;
  outline-color: #fffcff;
}
.search-container {
  margin-top: 40px;
  display: flex;
  gap: 10px;
}
.search-container input {
  width: 250px;
  height: 25px;
}
